<%- include('includes/header.ejs') %>
<%- include('includes/navBar.ejs', {path: path}) %>
<div class="container-fluid" style="padding: 0%; overflow-x: hidden;">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-12">
            <%- include('includes/leftSideBar.ejs', {path: sidePath}) %>
        </div>
        <div class="col-lg-9 col-md-8 col-sm-12">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>S.No</th>
                        <th>Sub-Category Name</th>
                        <th>Category Name</th>
                        <th>Action</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% i = 1;
                    cat.forEach(catItem => { %>
                        <tr>
                            <td><%= i %></td>
                            <td><%= catItem.sub_cat_name %></td>
                            <td><%= catItem.category.cat_name %></td>
                            <td><a class="btn btn-info" href="/admin/edit-category/<%= catItem.id %>">Edit</a></td>
                            <td><a class="btn btn-info" href="/admin/delete-category/<%= catItem.id %>">Delete</a></td>
                        </tr>
                    <% i++; }) %>
                </tbody>
            </table>
        </div>
    </div>
</div>
<%- include('includes/footer.ejs') %>

    