<%- include('includes/header.ejs') %>
<%- include('includes/navBar.ejs', {path: path}) %>

<div class="container-fluid" style="padding: 0%; overflow-x: hidden;">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-12">
            <%- include('includes/leftSideBar.ejs', {path: sidePath}) %>
        </div>
        <div class="col-lg-9 col-md-8 col-sm-12">
            <div class="card text-info bg-light mb-3">
                <div class="card-body">
                    <h5 class="card-title">Order List</h5>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>S.No</th>
                            <th>Order No</th>
                            <th>Product Name</th>
                            <th>Sale Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% i = 1; orderList.forEach(order => { %> 
                            <tr>
                                <td><%= i %></td>
                                <td><%= order.order.orderNo %></td>
                                <td><%= order.productName %></td>
                                <td><%= order.productSalePrice %></td>
                                <td><%= order.quantity %></td>
                                <td><%= order.productSalePrice * order.quantity %></td>
                                <td>1</td>
                                <td><button>Shipped</button></td>
                            </tr>
                        <% i++; }) %>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<%- include('includes/footer.ejs') %>