<!-- Links and Head -->
<%- include('includes/header.ejs', {pageTitle: pageTitle}) %>
  <!-- Preloader -->
  <%- include('includes/pre-loader.ejs') %>
  

  <!-- Mobile Sidenav -->    
  <%- include('includes/mobile-side-nav.ejs') %>
  <!-- end mobile sidenav -->

  <main class="main oh" id="main">

    <!-- Navigation -->
    <%- include('includes/top-navbar.ejs', {menuList: menuList}) %>
    <!-- end navigation -->

    <!-- Catalog -->
    <section class="section-wrap pt-60 pb-30 catalog">
      <div class="container">

        <!-- Breadcrumbs -->
        <ol class="breadcrumbs">
          <li>
            <a href="index.html">Home</a>
          </li>
          <li>
            <a href="index.html">Pages</a>
          </li>
          <li class="active">
            Catalog Grid
          </li>
        </ol>

        <div class="row">
          <div class="col-lg-9 order-lg-2 mb-40">

            <!-- Filter -->          
            <div class="shop-filter">
              <p class="woocommerce-result-count">
                Showing: 1-12 of 80 results
              </p>
              <span class="woocommerce-ordering-label">Sort by</span>
              <form class="woocommerce-ordering">
                <select>
                  <option value="default-sorting">Default Sorting</option>
                  <option value="price-low-to-high">Price: high to low</option>
                  <option value="price-high-to-low">Price: low to high</option>
                  <option value="by-popularity">By Popularity</option>
                  <option value="date">By Newness</option>
                  <option value="rating">By Rating</option>
                </select>
              </form>
            </div>

            <div class="row row-8">

              <div class="col-md col-sm-6 product">
                <div class="product__img-holder">
                  <a href="single-product.html" class="product__link">
                    <img src="img/shop/product_1.jpg" alt="" class="product__img">
                    <img src="img/shop/product_back_1.jpg" alt="" class="product__img-back">
                  </a>
                  <div class="product__actions">
                    <a href="quickview.html" class="product__quickview">
                      <i class="ui-eye"></i>
                      <span>Quick View</span>
                    </a>
                    <a href="#" class="product__add-to-wishlist">
                      <i class="ui-heart"></i>
                      <span>Wishlist</span>
                    </a>
                  </div>
                </div>

                <div class="product__details">
                  <h3 class="product__title">
                    <a href="single-product.html">Joeby Tailored Trouser</a>
                  </h3>
                </div>

                <span class="product__price">
                  <ins>
                    <span class="amount">$17.99</span>
                  </ins>
                </span>
              </div> <!-- end product -->

              <div class="col-md col-sm-6 product">
                <div class="product__img-holder">
                  <a href="single-product.html" class="product__link">
                    <img src="img/shop/product_2.jpg" alt="" class="product__img">
                    <img src="img/shop/product_back_2.jpg" alt="" class="product__img-back">
                  </a>
                  <div class="product__actions">
                    <a href="quickview.html" class="product__quickview">
                      <i class="ui-eye"></i>
                      <span>Quick View</span>
                    </a>
                    <a href="#" class="product__add-to-wishlist">
                      <i class="ui-heart"></i>
                      <span>Wishlist</span>
                    </a>
                  </div>
                </div>

                <div class="product__details">
                  <h3 class="product__title">
                    <a href="single-product.html">Denim Hooded</a>
                  </h3>
                </div>

                <span class="product__price">
                  <ins>
                    <span class="amount">$30.00</span>
                  </ins>
                </span>
              </div> <!-- end product -->

              <div class="col-md col-sm-6 product">
                <div class="product__img-holder">
                  <a href="single-product.html" class="product__link">
                    <img src="img/shop/product_3.jpg" alt="" class="product__img">
                    <img src="img/shop/product_back_3.jpg" alt="" class="product__img-back">
                  </a>
                  <div class="product__actions">
                    <a href="quickview.html" class="product__quickview">
                      <i class="ui-eye"></i>
                      <span>Quick View</span>
                    </a>
                    <a href="#" class="product__add-to-wishlist">
                      <i class="ui-heart"></i>
                      <span>Wishlist</span>
                    </a>
                  </div>
                </div>

                <div class="product__details">
                  <h3 class="product__title">
                    <a href="single-product.html">Mint Maxi Dress</a>
                  </h3>
                </div>

                <span class="product__price">
                  <ins>
                    <span class="amount">$17.99</span>
                  </ins>
                  <del>
                    <span>$30.00</span>
                  </del>
                </span>
              </div> <!-- end product -->

              <div class="col-md col-sm-6 product">
                <div class="product__img-holder">
                  <a href="single-product.html" class="product__link">
                    <img src="img/shop/product_4.jpg" alt="" class="product__img">
                    <img src="img/shop/product_back_4.jpg" alt="" class="product__img-back">
                  </a>
                  <div class="product__actions">
                    <a href="quickview.html" class="product__quickview">
                      <i class="ui-eye"></i>
                      <span>Quick View</span>
                    </a>
                    <a href="#" class="product__add-to-wishlist">
                      <i class="ui-heart"></i>
                      <span>Wishlist</span>
                    </a>
                  </div>
                </div>

                <div class="product__details">
                  <h3 class="product__title">
                    <a href="single-product.html">White Flounce Dress</a>
                  </h3>
                </div>

                <span class="product__price">
                  <ins>
                    <span class="amount">$15.99</span>
                  </ins>
                  <del>
                    <span>$27.00</span>
                  </del>
                </span>
              </div> <!-- end product -->  

              <div class="w-100"></div>

              <div class="col-md col-sm-6 product">
                <div class="product__img-holder">
                  <a href="single-product.html" class="product__link">
                    <img src="img/shop/product_5.jpg" alt="" class="product__img">
                    <img src="img/shop/product_back_5.jpg" alt="" class="product__img-back">
                  </a>
                  <div class="product__actions">
                    <a href="quickview.html" class="product__quickview">
                      <i class="ui-eye"></i>
                      <span>Quick View</span>
                    </a>
                    <a href="#" class="product__add-to-wishlist">
                      <i class="ui-heart"></i>
                      <span>Wishlist</span>
                    </a>
                  </div>
                </div>

                <div class="product__details">
                  <h3 class="product__title">
                    <a href="single-product.html">Maxi dress</a>
                  </h3>
                </div>

                <span class="product__price">
                  <ins>
                    <span class="amount">$19.00</span>
                  </ins>
                </span>
              </div> <!-- end product -->

              <div class="col-md col-sm-6 product">
                <div class="product__img-holder">
                  <a href="single-product.html" class="product__link">
                    <img src="img/shop/product_6.jpg" alt="" class="product__img">
                    <img src="img/shop/product_back_6.jpg" alt="" class="product__img-back">
                  </a>
                  <div class="product__actions">
                    <a href="quickview.html" class="product__quickview">
                      <i class="ui-eye"></i>
                      <span>Quick View</span>
                    </a>
                    <a href="#" class="product__add-to-wishlist">
                      <i class="ui-heart"></i>
                      <span>Wishlist</span>
                    </a>
                  </div>
                </div>

                <div class="product__details">
                  <h3 class="product__title">
                    <a href="single-product.html">Casual Jacket</a>
                  </h3>
                </div>

                <span class="product__price">
                  <ins>
                    <span class="amount">$17.99</span>
                  </ins>
                  <del>
                    <span>$30.00</span>
                  </del>
                </span>
              </div> <!-- end product -->

              <div class="col-md col-sm-6 product">
                <div class="product__img-holder">
                  <a href="single-product.html" class="product__link">
                    <img src="img/shop/product_7.jpg" alt="" class="product__img">
                    <img src="img/shop/product_back_7.jpg" alt="" class="product__img-back">
                  </a>
                  <div class="product__actions">
                    <a href="quickview.html" class="product__quickview">
                      <i class="ui-eye"></i>
                      <span>Quick View</span>
                    </a>
                    <a href="#" class="product__add-to-wishlist">
                      <i class="ui-heart"></i>
                      <span>Wishlist</span>
                    </a>
                  </div>
                </div>

                <div class="product__details">
                  <h3 class="product__title">
                    <a href="single-product.html">Bounce Elegant Dress</a>
                  </h3>
                </div>

                <span class="product__price">
                  <ins>
                    <span class="amount">$15.99</span>
                  </ins>
                  <del>
                    <span>$27.00</span>
                  </del>
                </span>
              </div> <!-- end product -->

              <div class="col-md col-sm-6 product">
                <div class="product__img-holder">
                  <a href="single-product.html" class="product__link">
                    <img src="img/shop/product_8.jpg" alt="" class="product__img">
                    <img src="img/shop/product_back_8.jpg" alt="" class="product__img-back">
                  </a>
                  <div class="product__actions">
                    <a href="quickview.html" class="product__quickview">
                      <i class="ui-eye"></i>
                      <span>Quick View</span>
                    </a>
                    <a href="#" class="product__add-to-wishlist">
                      <i class="ui-heart"></i>
                      <span>Wishlist</span>
                    </a>
                  </div>
                </div>

                <div class="product__details">
                  <h3 class="product__title">
                    <a href="single-product.html">Classic White Tailored Shirt</a>
                  </h3>
                </div>

                <span class="product__price">
                  <ins>
                    <span class="amount">$19.99</span>
                  </ins>
                  <del>
                    <span>$32.00</span>
                  </del>
                </span>
              </div> <!-- end product -->

              <div class="w-100"></div>

              <div class="col-md col-sm-6 product">
                <div class="product__img-holder">
                  <a href="single-product.html" class="product__link">
                    <img src="img/shop/product_9.jpg" alt="" class="product__img">
                    <img src="img/shop/product_back_9.jpg" alt="" class="product__img-back">
                  </a>
                  <div class="product__actions">
                    <a href="quickview.html" class="product__quickview">
                      <i class="ui-eye"></i>
                      <span>Quick View</span>
                    </a>
                    <a href="#" class="product__add-to-wishlist">
                      <i class="ui-heart"></i>
                      <span>Wishlist</span>
                    </a>
                  </div>
                </div>

                <div class="product__details">
                  <h3 class="product__title">
                    <a href="single-product.html">Men’s Belt</a>
                  </h3>
                </div>

                <span class="product__price">
                  <ins>
                    <span class="amount">$9.90</span>
                  </ins>
                </span>
              </div> <!-- end product -->

              <div class="col-md col-sm-6 product">
                <div class="product__img-holder">
                  <a href="single-product.html" class="product__link">
                    <img src="img/shop/product_10.jpg" alt="" class="product__img">
                    <img src="img/shop/product_back_10.jpg" alt="" class="product__img-back">
                  </a>
                  <div class="product__actions">
                    <a href="quickview.html" class="product__quickview">
                      <i class="ui-eye"></i>
                      <span>Quick View</span>
                    </a>
                    <a href="#" class="product__add-to-wishlist">
                      <i class="ui-heart"></i>
                      <span>Wishlist</span>
                    </a>
                  </div>
                </div>

                <div class="product__details">
                  <h3 class="product__title">
                    <a href="single-product.html">Sport Hi Adidas</a>
                  </h3>
                </div>

                <span class="product__price">
                  <ins>
                    <span class="amount">$29.00</span>
                  </ins>
                </span>
              </div> <!-- end product -->

              <div class="col-md col-sm-6 product">
                <div class="product__img-holder">
                  <a href="single-product.html" class="product__link">
                    <img src="img/shop/product_11.jpg" alt="" class="product__img">
                    <img src="img/shop/product_back_11.jpg" alt="" class="product__img-back">
                  </a>
                  <div class="product__actions">
                    <a href="quickview.html" class="product__quickview">
                      <i class="ui-eye"></i>
                      <span>Quick View</span>
                    </a>
                    <a href="#" class="product__add-to-wishlist">
                      <i class="ui-heart"></i>
                      <span>Wishlist</span>
                    </a>
                  </div>
                </div>

                <div class="product__details">
                  <h3 class="product__title">
                    <a href="single-product.html">Floral Mini Strappy</a>
                  </h3>
                </div>

                <span class="product__price">
                  <ins>
                    <span class="amount">$15.99</span>
                  </ins>
                  <del>
                    <span>$27.00</span>
                  </del>
                </span>
              </div> <!-- end product -->

              <div class="col-md col-sm-6 product">
                <div class="product__img-holder">
                  <a href="single-product.html" class="product__link">
                    <img src="img/shop/product_12.jpg" alt="" class="product__img">
                    <img src="img/shop/product_back_12.jpg" alt="" class="product__img-back">
                  </a>
                  <div class="product__actions">
                    <a href="quickview.html" class="product__quickview">
                      <i class="ui-eye"></i>
                      <span>Quick View</span>
                    </a>
                    <a href="#" class="product__add-to-wishlist">
                      <i class="ui-heart"></i>
                      <span>Wishlist</span>
                    </a>
                  </div>
                </div>

                <div class="product__details">
                  <h3 class="product__title">
                    <a href="single-product.html">Hooded Jacket</a>
                  </h3>
                </div>

                <span class="product__price">
                  <ins>
                    <span class="amount">$34.00</span>
                  </ins>
                </span>
              </div> <!-- end product -->
            
            </div> <!-- end row -->
            
            <!-- Pagination -->
            <div class="pagination clearfix">                
              <nav class="pagination__nav right clearfix">
                <a href="#" class="pagination__page"><i class="ui-arrow-left"></i></a>
                <span class="pagination__page pagination__page--current">1</span>
                <a href="#" class="pagination__page">2</a>
                <a href="#" class="pagination__page">3</a>
                <a href="#" class="pagination__page">4</a>
                <a href="#" class="pagination__page"><i class="ui-arrow-right"></i></a>
              </nav>
            </div>

          </div> <!-- end col -->


          <!-- Sidebar -->
          <aside class="col-lg-3 sidebar left-sidebar">

            <!-- Categories -->
            <div class="widget widget_categories widget--bottom-line">
              <h4 class="widget-title">Categories</h4>
              <ul>
                <li>
                  <a href="#">Women</a>
                </li>
                <li class="active">
                  <a href="#">Men</a>
                </li>
                <li>
                  <a href="#">Accessories</a>
                </li>
                <li>
                  <a href="#">Bags</a>
                </li>
                <li>
                  <a href="#">Watches</a>
                </li>
                <li>
                  <a href="#">Shoes</a>
                </li>
              </ul>
            </div>

            <!-- Size -->
            <div class="widget widget__filter-by-size widget--bottom-line">
              <h4 class="widget-title">Size</h4>
              <ul class="size-select">
                <li>
                  <input type="checkbox" class="checkbox" id="small-size" name="small-size">
                  <label for="small-size" class="checkbox-label">X-Small</label>
                </li>                
                <li>
                  <input type="checkbox" class="checkbox" id="medium-size" name="medium-size">
                  <label for="medium-size" class="checkbox-label">Small</label>
                </li>
                <li>
                  <input type="checkbox" class="checkbox" id="large-size" name="large-size">
                  <label for="large-size" class="checkbox-label">Meduim</label>
                </li>
                <li>
                  <input type="checkbox" class="checkbox" id="xlarge-size" name="xlarge-size">
                  <label for="xlarge-size" class="checkbox-label">Large</label>
                </li>
                <li>
                  <input type="checkbox" class="checkbox" id="xxlarge-size" name="xxlarge-size">
                  <label for="xxlarge-size" class="checkbox-label">X-Large</label>
                </li>
              </ul>
            </div>

            <!-- Color -->
            <div class="widget widget__filter-by-color widget--bottom-line">
              <h4 class="widget-title">Color</h4>
              <ul class="color-select">
                <li>
                  <input type="checkbox" class="checkbox" id="green-color" name="green-color">
                  <label for="green-color" class="checkbox-label">Green</label>
                </li>
                <li>
                  <input type="checkbox" class="checkbox" id="red-color" name="red-color">
                  <label for="red-color" class="checkbox-label">Red</label>
                </li>
                <li>
                  <input type="checkbox" class="checkbox" id="blue-color" name="blue-color">
                  <label for="blue-color" class="checkbox-label">Blue</label>
                </li>
                <li>
                  <input type="checkbox" class="checkbox" id="white-color" name="white-color">
                  <label for="white-color" class="checkbox-label">White</label>
                </li>
                <li>
                  <input type="checkbox" class="checkbox" id="black-color" name="black-color">
                  <label for="black-color" class="checkbox-label">Black</label>
                </li>
              </ul>
            </div>

            <!-- Filter by Price -->
            <div class="widget widget__filter-by-price widget--bottom-line">
              <h4 class="widget-title">Filter by Price</h4>
               
              <div id="slider-range"></div>
              <p>
                <label for="amount">Price:</label>
                <input type="text" id="amount">
                <a href="#" class="btn btn-sm btn-dark"><span>Filter</span></a>
              </p>
            </div>

          </aside> <!-- end sidebar -->

        </div> <!-- end row -->
      </div> <!-- end container -->
    </section> <!-- end catalog -->

    <!-- Footer -->
    <%- include('includes/footer-nav.ejs') %>
    <!-- end footer -->

    <div id="back-to-top">
      <a href="#top"><i class="ui-arrow-up"></i></a>
    </div>

  </main> <!-- end main-wrapper -->


  
    <!-- jQuery Scripts -->
<%- include('includes/footer-script.ejs') %>