<!-- Links and Head -->
<%- include('includes/header.ejs', {pageTitle: pageTitle}) %>
  <!-- Preloader -->
  <%- include('includes/pre-loader.ejs') %>
  

  <!-- Mobile Sidenav -->    
  <%- include('includes/mobile-side-nav.ejs') %>
  <!-- end mobile sidenav -->


  <main class="main oh" id="main">

    <!-- Navigation -->
    <%- include('includes/top-navbar.ejs', {menuList: menuList}) %>
    <!-- end navigation -->

    <!-- Hero Slider -->
    <section class="hero">
      <div id="owl-hero" class="owl-carousel owl-theme owl-carousel--dots-inside">        

        <div class="hero__slide" style="background-image: url(user/img/hero/1.jpg)">
          <div class="container text-center">
            <h1 class="hero__title">Got the style? Show us</h1>
            <a href="single-product.html" class="hero__link">Shop Now</a>
          </div>          
        </div>

        <div class="hero__slide" style="background-image: url(user/img/hero/2.jpg)">
          <div class="container relative">
            <div class="hero__holder">
              <h1 class="hero__title-1">dope<br>street<br>wear</h1>
              <a href="single-product.html" class="hero__link-1 btn btn-lg btn-dark"><span>New Arrivals</span></a>
            </div>
          </div>
        </div>

        <div class="hero__slide" style="background-image: url(user/img/hero/3.jpg)">
          <div class="container text-center">
            <div class="hero__holder-1">
              <h1 class="hero__title-2">new lookbook</h1>
              <h3 class="hero__subtitle">Sale 50% off. Get only trendy items</h3>
              <a href="single-product.html" class="hero__link-1 btn btn-lg btn-color"><span>Shop the trend</span></a>
            </div>
          </div>
        </div>

      </div> <!-- end owl -->
    </section> <!-- end hero slider -->

    <!-- Feature -->
    <section class="section-wrap pb-0">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-3 feature">
            <i class="ui-cube feature__icon"></i>
            <div class="feature__holder">
              <h6 class="feature__title">Free Shipping</h6>
              <span class="feature__text">On orders over $100</span>
            </div>            
          </div>
          <div class="col-md-3 feature">
            <i class="ui-plane feature__icon"></i>
            <div class="feature__holder">
              <h6 class="feature__title">Fast Delivery</h6>
              <span class="feature__text">Get your item within 1 week</span>
            </div>
          </div>
          <div class="col-md-3 feature">
            <i class="ui-pricetag feature__icon"></i>
            <div class="feature__holder">
              <h6 class="feature__title"><span class="feature__promo">50% Off</span> winter sale</h6>
              <span class="feature__text">Use code Namira50</span>
            </div>
          </div>
        </div>
      </div>
    </section>    

    <!-- Best Seller -->
    <section class="section-wrap pb-30">
      <div class="container">

        <div class="heading-row">
          <div class="text-center">
            <h2 class="heading bottom-line">
              Shop From Here
            </h2>
          </div>
        </div>

        <div class="row row-8">
          <% products.forEach(product => { %> 
            <div class="col-lg-2 col-sm-4 product">
              <div class="product__img-holder">
                <a href="/product-details/<%= product.id %>" class="product__link" aria-label="Product">
                  <img src="<%= product.smallFront %>" alt="" class="product__img">
                  <img src="<%= product.smallBack %>" alt="" class="product__img-back">
                </a>
                <div class="product__actions">
                  <a href="/product-details/<%= product.id %>" class="product__quickview">
                    <i class="ui-eye"></i>
                    <span>Quick View</span>
                  </a>
                  <!-- <a href="#" class="product__add-to-wishlist">
                    <i class="ui-heart"></i>
                    <span>Wishlist</span>
                  </a> -->
                </div>
              </div>

              <div class="product__details">
                <h3 class="product__title">
                  <a href="/product-details/<%= product.id %>"><%= product.title %></a>
                  <span style="background-color: cadetblue; padding: 2px; border-radius: 3px; color: white;float: right;"><%= Math.round((product.salePrice/product.mrp)*100) %>% Off</span>
                </h3>
              </div>

              <span class="product__price">
                <ins>
                  <span class="amount">&#8377;<%= product.salePrice %></span>
                </ins>
                <del>
                  <span>&#8377;<%= product.mrp %></span>
                </del>
              </span>
            </div> <!-- end product -->
          <% }) %>
  
        </div> <!-- end row -->
      </div> <!-- end container -->
    </section> <!-- end best seller -->

    <!-- New Arrivals -->
   
    <!-- end new arrivals -->

    <!-- Testimonials -->
    
    <!-- end testimonials -->

    <!-- Footer -->
    <%- include('includes/footer-nav.ejs') %>
    <!-- end footer -->

    <div id="back-to-top">
      <a href="#top" aria-label="Go to top"><i class="ui-arrow-up"></i></a>
    </div>

  </main> <!-- end main-wrapper -->


  
  <!-- jQuery Scripts -->
<%- include('includes/footer-script.ejs') %>