<!-- Links and Head -->
<%- include('includes/header.ejs', {pageTitle: pageTitle}) %>
<!-- Preloader -->
<%- include('includes/pre-loader.ejs') %>
  

<!-- Mobile Sidenav -->    
<%- include('includes/mobile-side-nav.ejs') %>
<!-- end mobile sidenav -->

<!-- Navigation -->
<%- include('includes/top-navbar.ejs', {menuList: menuList, cartCount: cartCount}) %>
<!-- end navigation -->
<div class="sign-in-popup">
    <div class="row d-flex justify-content-around">
      <div class="col-md-6 mb-30" style="border: 1px solid red;padding: 2rem; border-radius: 1rem;">
        <h3>Verify OTP</h3>
        <% if(errorMessage){ %>
            <div style="color: red;">
              <p><%= errorMessage %></p>
            </div>
          <% } %>
        <form action="/verify-otp" method="POST">
          <label for="sign-in-input">Enter OTP<abbr class="required" title="required">*</abbr></label>
          <input type="text" name="newOTP" id="sign-in-input">
  
          <!-- <label for="sign-in-password">Password <abbr class="required" title="required">*</abbr></label>
          <input type="text" name="password" id="sign-in-password"> -->
          <input type="hidden" name="oldOTP" value="<%= otp %>">
          <input type="hidden" name="mobileNo" value="<%= mobileNo %>">
  
          <input type="submit" name="sign-in" value="Verify OTP" class="btn btn-md btn-dark btn-button">
  
          <!-- <a href="#" class="sign-in-popup__forgot-password">Forgot Password?</a> -->
        </form>
      </div>
      <!-- <div class="col-md-6 mb-30">
        <h3>Register</h3>
        <form action="">
          <label for="register-input">Email address <abbr class="required" title="required">*</abbr></label>
          <input type="text" name="email" id="register-input">
  
          <label for="password">Password <abbr class="required" title="required">*</abbr></label>
          <input type="password" name="password" id="register-password">
  
          <input type="submit" name="register" value="Register" class="btn btn-md btn-dark btn-button">
        </form>
      </div> -->
    </div>
  </div>
  <%- include('includes/footer-nav.ejs') %>
  <!-- Links and Head -->
<%- include('includes/footer-script.ejs') %>