<!-- Links and Head -->
<%- include('includes/header.ejs', {pageTitle: pageTitle}) %>
    <!-- Preloader -->
  <%- include('includes/pre-loader.ejs') %>
  

  <!-- Mobile Sidenav -->    
  <%- include('includes/mobile-side-nav.ejs') %>
  <!-- end mobile sidenav -->

  <!-- Navigation -->
  <%- include('includes/top-navbar.ejs', {menuList: menuList}) %>
  <!-- end navigation -->


<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center">
            <div class="col-xl-12 col-md-12">
                <div class="card user-card-full">
                    <div class="row m-l-0 m-r-0">
                        <div class="col-sm-4 bg-c-lite-green user-profile">
                            <div class="card-block text-center text-white">
                                <div class="m-b-25"> <img src="https://img.icons8.com/bubbles/100/000000/user.png" class="img-radius" alt="User-Profile-Image"> </div>
                                <h6 class="f-w-600"><%= userData.name %></h6>
                                <p>Fly-Zone Customer</p> <i class=" mdi mdi-square-edit-outline feather icon-edit m-t-10 f-16"></i>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="card-block">
                                <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Information</h6>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Email</p>
                                        <h6 class="text-muted f-w-400"><%= userData.email %></h6>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Phone</p>
                                        <h6 class="text-muted f-w-400"><%= userData.mobile %></h6>
                                    </div>
                                </div>
                                <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">Latest Order</h6>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Orders Id</p>
                                        <h6 class="text-muted f-w-400">Sam Disuja</h6>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Order Date</p>
                                        <h6 class="text-muted f-w-400">Dinoter husainm</h6>
                                    </div>
                                </div>
                                <div class="bg-c-lite-green text-center m-b-20 m-t-40 p-2">
                                    <a href="/update-profile" id="top-bar__sign-in" class="text-white">Update Profile</a>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('includes/footer-nav.ejs') %>
<!-- jQuery Scripts -->
<%- include('includes/footer-script.ejs') %>