<div class="list-group">
    <a href="/admin" class="list-group-item list-group-item-action <%= path === '/' ? 'active' : '' %>">
      Dashboard
    </a>
    <a href="/admin/seller-request/0" class="list-group-item list-group-item-action <%= path === '/seller-request' ? 'active' : '' %>">Seller Request</a>
    <a href="/admin/seller-request/1" class="list-group-item list-group-item-action <%= path === '/seller-accepted' ? 'active' : '' %>">Accepted Seller</a>
    <a href="/admin/seller-request/2" class="list-group-item list-group-item-action <%= path === '/seller-rejected' ? 'active' : '' %>">Rejected Seller</a>
    <a href="/admin/all-seller-list" class="list-group-item list-group-item-action <%= path === '/seller-all' ? 'active' : '' %>">All Seller</a>
    <a href="/admin/add-category" class="list-group-item list-group-item-action <%= path === '/add-category' ? 'active' : '' %>">Add Category</a>
    <a href="/admin/view-category" class="list-group-item list-group-item-action <%= path === '/view-category' ? 'active' : '' %>">View Category</a>
    <a href="/admin/add-sub-category" class="list-group-item list-group-item-action <%= path === '/add-sub-category' ? 'active' : '' %>">Add Sub-Category</a>
    <a href="/admin/view-sub-category" class="list-group-item list-group-item-action <%= path === '/view-sub-category' ? 'active' : '' %>">View Sub-Category</a>
  </div>